In [1]:
import yfinance as yf
import numpy as np

<h2> Cálculo da Covarância
<h2> Cálculo de Retorno
<h2> Média de Retorno

In [2]:
def retorno(close_now:float, close_before:float):
    return (close_now - close_before)/close_before

In [3]:
def media_retorno(closes:list):
    mean = 0
    for n in range(1, len(closes)):
        mean += retorno(closes[n], closes[n-1])
    mean /= len(closes)
    return mean

<h2>Variancia<h2>
<img src="variancia.jpg" style="height:220px">

In [108]:
def variancia(closes):
    v = 0
    mean = sum(closes)/len(closes)
    for close in closes:
        v += (close - mean)**2
    v /= len(closes)
    return v

<h2>Covariância entre Ativos

In [110]:
def covariancia(closes_1, closes_2):
    c = 0
    n = len(closes_1)
    mean_1 = sum(closes_1)/len(closes_1)
    mean_2 = sum(closes_2)/len(closes_2)

    for close_1, close_2 in zip(closes_1, closes_2):
        c += (close_1 - mean_1)*(close_2 - mean_2)
    c /= n - 1
    return c

In [ ]:
def portifolio_risco(assets:list):
    var = [asset['taxa'] for asset in assets]

In [111]:
a = [3.3,3.4,4.1]
b = [5.3,6.5,7.1]
covariancia(a, b)

0.32999999999999985

<h2> Função a ser minimizada
<h1> A major concern in the portfolio selection is to minimize the risk. In order to find
the invested fractions y1, and y2. We solve the following problem<h1>
<img src="func_mim.PNG" style="height:220px">
<img src="func_mim_2.PNG" style="height:180px">
<img src="func_mim_3.PNG" style="height:90px">

In [121]:
def func_to_min(x, var1, var2, cov):
    Q = np.array([[var1, cov],[cov, var2]])
    alpha = np.array([[0],[1]])
    beta = np.array([[1],[-1]])
    fx = (alpha.transpose() @ Q @ alpha) + ((2*beta.transpose() @ Q @ alpha)*x) + ((beta.transpose() @ Q @ beta)*(x**2))
    return fx[0][0]

In [85]:
func_to_min(0.5, 0.0044, 0.0047, -0.00025)

array([[0.00215]])

In [86]:
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [89]:
data

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.372362  206.871796  29.037500  225.240005  29.082500
2017-01-04  27.341724  208.102478  29.004999  226.580002  29.127501
2017-01-05  27.480766  207.937180  29.152500  226.399994  29.215000
2017-01-06  27.787132  208.681152  29.477501  227.210007  29.540001
2017-01-09  28.041645  207.992294  29.747499  226.460007  29.857500
...               ...         ...        ...         ...        ...
2017-04-24  33.997520  218.776520  35.910000  237.169998  35.987499
2017-04-25  34.208172  220.049515  36.132500  238.550003  36.224998
2017-04-26  34.006989  219.911163  35.919998  238.399994  36.150002
2017-04-27  34.033031  220.095657  35.947498  238.600006  36.040001
2017-04-28  33.999893  219.615967  35.912498  238.080002  36.075001

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004
...                ...        ...         ...        ...         ...
2017-04-24  237.410004  35.794998  234.559998  35.875000  237.179993
2017-04-25  238.949997  35.967499  237.809998  35.977501  237.910004
2017-04-26  239.529999  35.845001  238.350006  36.117500  238.509995
2017-04-27  238.949997  35.827499  237.979996  35.980000  238.770004
2017-04-28  238.929993  35.817501  237.929993  36.022499  238.899994

               Volume
                 AAPL        SPY
Date
2017-01-03  115127600   91366500
2017-01-04   84472400   78744400
2017-01-05   88774400   78379000
2017-01-06  127007600   71559900
2017-01-09  134247600   46939700
...               ...        ...
2017-04-24   68537200  119209900
2017-04-25   75486000   76698300
2017-04-26   80164800   84702500
2017-04-27   56985200   57410300
2017-04-28   83441600   63532800

[81 rows x 12 columns]

In [92]:
CLOSES = data['Adj Close']

In [96]:
asset1 = list(CLOSES.AAPL.array)
asset2 = list(CLOSES.SPY.array)

In [116]:
asset1_v = variancia(asset1)
asset2_v = variancia(asset2)
cov = covariancia(asset1, asset2)

In [117]:
print(f'Variancia A: {asset1_v}\nVariancia B: {asset2_v}\nCov(A,B): {cov}')

Variancia A: 5.0651474634302325
Variancia B: 17.112999285529767
Cov(A,B): 8.77769856191762

In [132]:
func_to_min(0.999999, asset1_v, asset2_v, cov)

5.065154888537052

In [ ]:
#https://www.machinelearningplus.com/machine-learning/portfolio-optimization-python-example/
#https://stackabuse.com/gradient-descent-in-python-implementation-and-theory/
#https://www.scielo.br/j/rae/a/Rxp3hRsyfzwxL6dz8YfpRwf/?lang=pt#
#https://pypi.org/project/pyDEA/
#https://warren.com.br/blog/indice-de-sharpe/


print(f'Minimum point: {}')
print(f'Minimum function value: {}')
print(f'Fractional investment for first assest: {}')
print(f'Fractional investment for second assest: {}')
print(f'The Portfolio Risk: {}')
print(f'Expected Portfolio Return: {}')